{% block eventlist %}
{% for event in events %}
<div class="event clear">
	<img src="{{siteUrl("/public/frontend/assets")}}/pic/Untitled-3.jpg" width="93px" height="93px" class="img" />
	<h2>{{ event.name|e }}</h2>
	<span>{{ event.description|e }}</span>
	<div class="keys">
		<a class="btn" href="#">ثبت نام کنید</a>
		<a class="btn" href="#">بیشتر بخوانید</a>
	</div>
</div>
{% endfor %}
{% endblock %}