{% extends "layouts/default.twig" %}

{% block content %}
    <form action="" method="post">
        <input type="text" name="firstName" id="firstName" title="First Name"/>
        <br/>
        <input type="text" name="lastName" id="lastName" title="Last Name" t/>
        <br/>
        <input type="text" name="cellPhone" id="cellPhone" title="Cell Phone" t/>
        <br/>
        <input type="text" name="password" id="password" title="Password" t/>
        <br/>
        <input type="submit" value="Update"/>
    </form>
{% endblock %}
